*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:#cccccc;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    font-family: 'Poppins', sans-serif;   
}

.logo {
    color:rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color:rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.nav-links a:hover{
    color: green;
}

section{
    display: flex;
    justify-content:center;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0 ;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.content-table thead tr{
    background-color: #5d4954;
    color: #fff;
    text-align: left;
    font-weight: bold;


}

.content-table th,
.content-table td {
    padding: 12px 15px ;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color:#f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #5d4954;
}

/* Media query for mobile view */
@media only screen and (max-width: 600px) {
    nav {
      flex-direction: column;
    }
    
    nav a {
      margin-bottom: 1rem;
    }
  }